<template>
  <div id="app">
    <div class="max-w-5xl mx-auto">
      <div class="flex justify-between" v-if="calendar">
        <div v-for="(month, monthKey) in calendar.months" :key="monthKey">
          <div class="text-center my-2">{{ month.title }}</div>
          <div class="flex justify-between mb-2">
            <div class="mx-2" v-for="dt in month.header"> {{ dt }}</div>
          </div>
          <div class="flex justify-between" v-for="week in month.weeks">
            <div
              v-for="day in week.days"
              @click="dayClick"
              class="flex justify-center items-center w-8 h-8 m-1 rounded text-gray-200"
              :class="{'bg-green-200 text-green-700 font-bold cursor-pointer' : day.properties.available }">
              {{ day.label }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import axios from "axios";

export default {
  name: 'app',
  data() {
    return {
      calendar: null
    }
  },
  mounted() {
    axios.get('http://local.api.sd-calendar.nl/').then(response => {
      this.calendar = response.data;
    });
  },
  methods: {
    dayClick() {

      /* Modern version */
      calendarEvents.dispatchEvent(
        new CustomEvent('day-clicked', {
          detail: {
            params : {
              selected: '04-01-2021'
            }
          }
        })
      );


      /* IE 11 code */
      // const dayClickEvent = document.createEvent('CustomEvent', {
      //   params : {
      //     selected: '12-01-2021'
      //   }
      // })
      // dayClickEvent.initCustomEvent('day-clicked');
      // window.myEventBus.dispatchEvent( dayClickEvent )
    }
  }
}
</script>

<style>
</style>
